@-moz-document domain("discord.com") {
   /* ==UserStyle==
    @name         Dark Discord
    @description  An actual dark mode for discord.
    @author       eternal
    @namespace    github.com/eternal404/dark-discord
    @version      1.0.0
    @supportURL   https://discord.gg/HQ5N7Rcajc
    ==/UserStyle== */
   @import url(https://eternal404.github.io/dark-discord/src/source.css);
}