/**

 * @name Dark Discord
 * @version 1.0.0
 * @description An actual dark mode for discord.
 * @source https://github.com/slow/dark-discord
 * @authorId 426147523305144322
 * @author eternal
 * @website https://github.com/slow/dark-discord
 * @donate https://paypal.me/eternal404

**/

@import url(https://slow.github.io/dark-discord/src/source.css);