@import url("https://snappercord.github.io/dark-discord/src/source.css");

.theme-dark,
.theme-light,
:root {
    --background-primary: #141414;
    --background-secondary: #111111;
    --background-secondary-alt: #292929;
    --background-tertiary: #0c0c0c;
    --background-accent: #242424;
    --background-floating: #111111; 
    --background-modifier-hover: rgba(255,255,255,0.01);
    --background-modifier-active: rgba(255,255,255,0.03);
    --background-modifier-selected: rgba(255,255,255,0.04);
    --background-modifier-accent: hsla(0,0%,100%,0.06);
    --channeltextarea-background: var(--background-accent);
    --deprecated-card-bg: rgba(0, 0, 0, 0.2);
    --deprecated-card-editable-bg: rgba(0,0,0,0.1);
    --deprecated-text-input-border-disabled: var(--background-tertiary);
    --activity-card-background: var(--background-primary);
    --channels-default: #9f9f9f;
    --background-message-hover: #00000030; /*change this to change the message hover color*/
    --text-muted: #b6b6b6;
    --text-normal: #fbfbfb; 
    --interactive-normal: #c8c8c8;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #747474;
    --header-secondary: #c9c9c9;
    --toast-background: var(--background-primary);
    --toast-header: var(--background-tertiary);
    --toast-contents: var(--background-secondary);
    --toast-box-shadow: rgba(0, 0, 0, .2);
    --toast-border: var(--background-tertiary);
    --offline-color: rgb(60, 60, 60);
}
