#splash {
   background: #0c0c0c;
}

.progress .progress-bar {
   background-color: #292929;
}

.progress .progress-bar .complete {
   background-color: white;
}

#splash .splash-inner-dl .dl-select-frame .Select-control {
   background: #141414;
   border-color: #191919;
}

#splash .splash-inner-dl .dl-select-frame .Select-menu-outer {
   background: #141414;
   border-color: #191919;
}