@import "https://discord-modifications.github.io/dark-discord/src/switches.css";

:root,
.theme-light,
.theme-dark {
   --accent: var(--info-positive-foreground) !important;
   --activity-card-background: var(--background-tertiary) !important;
   --background-accent: #292929 !important;
   --background-accent-alt: #242424 !important;
   --background-floating: #090909 !important;
   --background-modifier-accent: hsla(0, 0%, 100%, 0.06) !important;
   --background-modifier-active: rgba(255, 255, 255, 0.03) !important;
   --background-modifier-hover: rgba(255, 255, 255, 0.02) !important;
   --background-modifier-selected: rgba(255, 255, 255, 0.04) !important;
   --background-nested-floating: var(--background-floating);
   --background-primary: #141414 !important;
   --background-secondary: #111 !important;
   --background-secondary-alt: #0e0e0e !important;
   --background-tertiary: #0c0c0c !important;
   --bsi-invisible-color: #292929 !important;
   --bsi-offline-color: #292929 !important;
   --modal-background: var(--background-secondary) !important;
   --modal-footer-background: var(--background-tertiary) !important;
   --channel-text-area-placeholder: var(--text-muted) !important;
   --channels-default: var(--text-muted) !important;
   --channel-icon: var(--channels-default) !important;
   --channeltextarea-background: #202020 !important;
   --deprecated-card-bg: var(--background-secondary) !important;
   --deprecated-card-editable-bg: var(--background-secondary) !important;
   --deprecated-quickswitcher-input-background: var(--background-primary) !important;
   --deprecated-quickswitcher-input-placeholder: var(--interactive-muted) !important;
   --deprecated-store-bg: var(--background-primary) !important;
   --deprecated-text-input-bg: rgba(0, 0, 0, 0.1) !important;
   --deprecated-text-input-border: rgba(0, 0, 0, 0.3) !important;
   --deprecated-text-input-border-disabled: rgba(0, 0, 0, 0.1) !important;
   --deprecated-text-input-border-hover: rgba(0, 0, 0, 0.7) !important;
   --header-primary: var(--text-normal) !important;
   --header-secondary: var(--text-muted) !important;
   --input-background: var(--background-secondary-alt) !important;
   --interactive-active: #fff !important;
   --interactive-hover: #dcddde !important;
   --interactive-muted: #747474 !important;
   --interactive-normal: #c8c8c8 !important;
   --scrollbar-auto-scrollbar-color-thumb: var(--background-accent) !important;
   --scrollbar-auto-scrollbar-color-track: rgba(0, 0, 0, 0.1) !important;
   --scrollbar-auto-thumb: var(--background-accent) !important;
   --scrollbar-auto-track: rgba(0, 0, 0, 0.1) !important;
   --scrollbar-thin-thumb: var(--background-accent) !important;
   --scrollbar-thin-track: transparent !important;
   --text-muted: #b6b6b6 !important;
   --text-normal: #fbfbfb !important;
   --toast-background: var(--background-secondary) !important;
   --toast-border: transparent !important;
   --toast-box-shadow: rgba(0, 0, 0, 0.1) !important;
   --toast-contents: var(--background-tertiary) !important;
   --toast-header: var(--background-tertiary) !important;
}

.bd-modal-wrapper .bd-modal-body,
.inset-SbsSFp {
   background-color: var(--background-primary) !important;
}

.bd-modal-wrapper .bd-modal-inner {
   border: none !important;
   box-shadow: var(--elevation-high) !important;
}

.bd-modal-wrapper .error {
   border-bottom: 1px solid var(--background-modifier-accent) !important;
   color: var(--text-normal) !important;
}

.bd-modal-wrapper .header,
.theme-dark .headerNormal-T_seeN,
.css-12hk9yc-control,
.css-1adxh11-control,
.css-1emou8a-control {
   background-color: var(--background-tertiary) !important;
}

.bd-modal-wrapper .tab-bar-container .tab-bar-item {
   color: var(--text-normal) !important;
}

.css-3vaxre-menu,
.css-dwar6a-menu {
   background-color: var(--background-secondary) !important;
   border: none !important;
   box-shadow: var(--elevation-high) !important;
}

.css-ix84ef-menu {
   background-color: var(--background-secondary) !important;
   box-shadow: var(--elevation-high) !important;
}

.imageLoading-2uloYN {
   background: var(--background-accent) !important;
   border-radius: 10px;
}

.lookFilled-yCfaCM.button-f2h6uQ.colorPrimary-2AuQVo:active:not(:disabled),
.lookFilled-yCfaCM.button-f2h6uQ.colorPrimary-2AuQVo:hover:not(:disabled),
.lookFilled-yCfaCM.colorGrey-2iAG-B,
.lookFilled-yCfaCM.colorGrey-2iAG-B:hover {
   background-color: var(--background-accent-alt) !important;
}

.outer-2JOHae.active-1W_Gl9,
.outer-2JOHae.interactive-2zD88a:hover,
.container-20TyK0 {
   background-color: var(--background-floating) !important;
}

.peopleColumn-1wMU14 {
   background: var(--background-primary);
}

.quickswitcher-pKcM9U {
   box-shadow: var(--elevation-high);
}

.result-pzZrwj[style*="background-color: rgb(24, 25, 28);"],
.lookFilled-yCfaCM.button-f2h6uQ.colorPrimary-2AuQVo,
.theme-dark .noItemsIcon-2OeOld {
   background-color: var(--background-accent) !important;
}

.slateBlockquoteContainer-3dsgJl .blockquoteDivider-363utW {
   background-color: var(--background-accent);
   filter: brightness(1.1);
}

.theme-dark .bodySection-3iDdop,
.theme-light .bodySection-3iDdop {
   background-color: var(--background-secondary);
   border-top-color: var(--background-modifier-accent);
}

.theme-dark .bottomDivider-ZmTm-j {
   border-bottom-color: var(--background-modifier-accent);
}

.theme-dark .button-1yVL_7 {
   background-color: var(--background-secondary);
   box-shadow: 0 0 0 1px var(--background-tertiary), 0 1px 5px 0 rgba(0, 0, 0, 0.3);
}

.theme-dark .button-1yVL_7:hover {
   background-color: var(--background-primary);
   box-shadow: 0 0 0 1px var(--background-tertiary), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.theme-dark .closeButton-PCZcma {
   border-color: var(--background-accent) !important;
}

.theme-dark .codeRedemptionRedirect-2hYMSQ {
   background-color: var(--background-secondary);
   border-color: var(--background-tertiary);
}

.theme-dark .disabled-29cfPA:hover {
   border-color: var(--background-modifier-active);
   color: var(--text-muted);
}

.theme-dark .divider-3LgWDL,
.theme-dark .divider-3wNib3,
.theme-dark .paymentHeader-2o7Phd,
.theme-dark .sectionAccountCredit-1lZtoH,
.theme-dark .subscriptionDetails-3u1CML,
.theme-dark .divider-3APUjw,
.theme-dark .checkbox-f1HnKB {
   border-color: var(--background-modifier-accent);
}

.theme-dark .elevationHigh-28Pty4,
.userPopout-3XzG_A {
   box-shadow: var(--elevation-high) !important;
}

.theme-dark .expandedInfo-1W31i3 {
   background-color: var(--background-tertiary);
}

.theme-dark .footer-31IekZ {
   background-color: var(--background-tertiary);
   box-shadow: inset 0 1px 0 var(--background-modifier-accent);
}

.theme-dark .friendSelected-3cwmD7,
.theme-dark .selected-3H3-RC {
   background-color: var(--background-modifier-active);
}

.theme-dark .game-2f2vPC {
   box-shadow: 0 1px 0 0 var(--background-modifier-accent);
}

.theme-dark .gemIndicatorContainer-PqApbX {
   background-color: var(--background-primary);
}

.theme-dark .header-1Fx4D1 {
   color: var(--header-primary);
}

.theme-dark .hoverablePayment-lE1s4t:hover,
.theme-dark .memberListItem-31QoHj:not(.popoutDisabled-2RK7MF):hover,
.theme-dark .enabled-1t_Gxm:hover {
   background-color: var(--background-modifier-hover);
}

.theme-dark .iconForeground-2P-YQq {
   fill: var(--text-muted);
}

.theme-dark .info-3k6QpS,
.theme-light .info-3k6QpS,
.theme-dark .content-38N-4k,
.theme-dark .requirements-2IwVy6,
.theme-dark .container-1ILvLB section strong {
   color: var(--text-normal);
}

.theme-dark .item-2OyinQ {
   border-color: var(--background-tertiary) !important;
}

.theme-dark .item-3eFBNF {
   box-shadow: inset 0 -1px 0 0 var(--background-modifier-accent);
}

.theme-dark .label-29p9qC,
.theme-light .label-29p9qC,
.theme-dark .requirementKey-3Mlwzf,
.theme-dark .purchaseUnitOperatingSystem-1OW7Kw,
.theme-light .purchaseUnitOperatingSystem-1OW7Kw,
.theme-dark .container-1ILvLB section p,
.theme-dark .debugButton-OTfjlB,
.metadata-1E7Z4i,
.theme-dark .text-27cdrj,
.theme-dark .title-2CL_z0,
.theme-dark .markValue-2U_-UG,
.theme-dark .lastPlayed-1jum9A,
.theme-dark .overlayStatusText-In0YrK,
.colorGrey-2iAG-B,
.theme-dark .description-11DmNu,
.theme-dark .descriptionUsername-J_75O8,
.theme-dark .descriptionDiscriminator-tCKMLV,
.theme-dark .contentTitle-3CylD3,
.theme-dark .subText-1gefwV,
.theme-light .subText-1gefwV,
.theme-dark .paymentText-BPrx01,
.theme-dark .markdown-19oyJN {
   color: var(--text-muted);
}

.theme-dark .markdown-19oyJN code,
.theme-dark .paymentPane-ut5qKZ {
   background-color: var(--background-secondary);
}

.theme-dark .moreUsers-3PdGZN,
.moreUsers-Gej0iV {
   background-color: var(--background-accent);
   color: var(--text-normal);
}

.theme-dark .notDetected-M3Ghh2,
.theme-light .notDetected-M3Ghh2,
.theme-dark .autocomplete-3NRXG8 {
   background-color: var(--background-secondary-alt);
}

.theme-dark .notches-2w7UZJ.black-11MaxJ {
   background: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="8" height="20" fill="%23090909"%3E%3Cpath fill-rule="evenodd" d="M0 0h8v20H0V0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z"/%3E%3C/svg%3E');
}

.theme-dark .notches-2w7UZJ.gray-3wP137 {
   background: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="8" height="20" fill="%23141414"%3E%3Cpath fill-rule="evenodd" d="M0 0h8v20H0V0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z"/%3E%3C/svg%3E');
}

.theme-dark .pageIndicator-cOEPV8,
.theme-dark .pageButtonNext-2_bbdk,
.theme-dark .pageButtonPrev-3q9rh8 {
   border-color: var(--background-accent);
}

.theme-dark .pageWrapper-2PwDoS {
   background-color: var(--background-primary);
   color: #fff;
}

.theme-dark .paginator-1eqD2g,
.theme-dark .contentWrapper-3oy4Xo {
   background: var(--background-secondary);
}

.theme-dark .paginator-2CA79G {
   color: #fff;
}

.theme-dark .partyMemberEmpty-GtlQ_s,
.theme-dark .bar-1Bhnl9,
.theme-dark .markDash-yk2kJ- {
   background: var(--background-accent);
}

.theme-dark .passthroughSelected-1Eq0Kl {
   background: var(--background-accent) !important;
}

.theme-dark .payment-2bOh4k {
   background-color: var(--background-secondary);
   color: transparent;
}

.theme-dark .pill-1HLSrc,
.theme-dark .option-Tt7anD,
.theme-dark .progress-1S-TDF,
.option-1QI4c9,
.theme-dark .closeButton-PCZcma:hover,
.blockquoteDivider-363utW,
.avatarUploaderInnerSquareDisabled-3M9eJS {
   background-color: var(--background-accent);
}

.theme-dark .popout-3Zw0qN {
   background-color: var(--background-floating);
   box-shadow: var(--elevation-high);
}

.theme-dark .root-g14mjS {
   -webkit-box-shadow: 0 0 0 1px var(--background-modifier-accent), 0 2px 10px 0 rgba(0, 0, 0, 0.2) !important;
   box-shadow: 0 0 0 1px var(--background-modifier-accent), 0 2px 10px 0 rgba(0, 0, 0, 0.2) !important;
}

.theme-dark .row-3nMNOy {
   box-shadow: inset 0 -1px 0 var(--background-modifier-accent);
}

.theme-dark .separator-dn0u3Y,
.theme-dark .separator-2OaeRP {
   background-color: var(--background-modifier-accent);
}

.theme-dark .tooltipGrey-lpLZjh .tooltipPointer-3L49xb,
.theme-light .tooltipGrey-lpLZjh .tooltipPointer-3L49xb {
   border-top-color: var(--background-floating);
}

.theme-dark .tooltipGrey-lpLZjh,
.theme-light .tooltipGrey-lpLZjh {
   background-color: var(--background-floating);
}

.theme-dark .userSettingsVoice-1_dzjw .previewOverlay-2reuWf,
.theme-dark .card-2ART2V:before {
   background-color: var(--background-secondary);
   border-color: var(--deprecated-text-input-border);
}

.theme-light .app-2CXKsg .base-2jDfDU {
   overflow: visible;
}

.theme-light .app-2CXKsg .container-YkUktl > .noWrap-hBpHBz > .button-12Fmur:nth-child(3) {
   -ms-transform: translate(-50%, -50%);
   animation: flash 1s ease infinite;
   background: #f04747 !important;
   border: 1px solid transparent;
   border-radius: 5px;
   box-shadow: 0 2px 10px rgba(240, 71, 71, 0.3);
   height: 40px;
   left: 50%;
   margin-top: 70px;
   opacity: 1;
   position: fixed;
   top: 50%;
   transform: translate(-50%, -50%);
   visibility: visible !important;
   width: 230px;
}

.theme-light .app-2CXKsg .container-YkUktl > .noWrap-hBpHBz > .button-12Fmur:nth-child(3)::before {
   align-items: center;
   border-radius: 5px;
   color: #fff;
   content: 'Settings';
   display: flex;
   font-size: 17px;
   font-weight: 700;
   height: 14px;
   justify-content: center;
   left: 50%;
   position: absolute;
   text-align: center;
   top: 50%;
   transform: translate(-50%, -50%);
   visibility: visible !important;
   width: 230px;
   z-index: 10000;
}

.theme-light .app-2CXKsg .layer-86YKbF:first-of-type *,
.theme-light .app-2CXKsg .layer-86YKbF:first-of-type ::after,
.theme-light .app-2CXKsg .layer-86YKbF:first-of-type ::before {
   visibility: hidden !important;
}

.theme-light .layer-86YKbF:first-of-type::before {
   -ms-transform: translate(-50%, -50%);
   background: var(--background-primary);
   border: 1px solid #f04747;
   border-radius: 5px;
   box-shadow: 0 2px 10px rgba(240, 71, 71, 0.3);
   color: #fff;
   content: 'Dark Discord only supports the dark appearance of Discord. Follow the highlights to set your appearance to dark.';
   display: block;
   height: 30px;
   left: 50%;
   padding: 20px;
   position: fixed;
   text-align: center;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 400px;
   z-index: 2;
}

.theme-light .preview-rua1rr.cardPrimaryOutline-1ofwVz + .marginTop40-Q4o1tS .radioGroup-1GBvlr .cardPrimaryEditable-2mz_3i:first-of-type,
.theme-light .preview-rua1rr.cardPrimaryOutline-1ofwVz + .marginTop40-Q4o1tS .radioGroup-1GBvlr .item-2idW98:first-of-type {
   animation: flash 1s ease infinite;
   background: #f04747;
   color: #fff;
}

html:not(#\20) .css-gvi9bl-control {
   background-color: var(--deprecated-text-input-bg);
   border-color: var(--deprecated-text-input-border);
}

.css-o3gndj-placeholder,
.autocompleteRowVertical-EA9dCg .selectable-1MM9tu .colorStandard-21JIj7,
.input-2g-os5::placeholder {
   color: var(--text-muted) !important;
}

@keyframes flash {

   100%,
   0% {
      border-color: #fff;
   }

   50% {
      border-color: #f04747;
   }
}

.CodeMirror-vscrollbar::-webkit-scrollbar-thumb,
.CodeMirror-hscrollbar::-webkit-scrollbar-thumb {
   background-color: var(--scrollbar-thin-thumb) !important;
}

.bar-1GpknY {
   background-color: var(--background-modifier-accent) !important;
}

.bd-toast {
   background-color: var(--background-floating) !important;
   box-shadow: var(--elevation-high) !important;
}

.bd-toast.toast-danger,
.bd-toast.toast-error {
   background-color: #f04747 !important;
}

.bd-toast.toast-info {
   background-color: #4a90e2 !important;
}

.bd-toast.toast-success {
   background-color: #43b581 !important;
}

.bd-toast.toast-warning,
.bd-toast.toast-warn {
   background-color: #FFA600 !important;
}

.button-3Vyz67:hover,
.cta-2DQ2ez:hover,
.cta-3-AFNF:hover,
.theme-dark .spoilerText-27bIiA.hidden-3B-Rum:hover,
.buttonColor-28DXIe:hover {
   background-color: var(--background-accent-alt);
}

.colorable-3rVGna.primaryDark-2UJt1G {
   background: var(--background-primary);
}

.container-2O1UgZ,
.qualitySettingsContainer-2LjkfM {
   border: 1px solid var(--background-tertiary);
}

.css-xpql1x-control {
   border-color: var(--deprecated-text-input-border) !important;
}

.css-xpql1x-control:disabled {
   border-color: var(--deprecated-text-input-border-disabled) !important;
}

.css-xpql1x-control:hover {
   border-color: var(--deprecated-text-input-border-hover) !important;
}

.defaultValue-19SZ-q .markValue-2U_-UG {
   color: #43b581 !important;
}

.emptyPreview-1SMLD4 {
   background: var(--background-tertiary);
}

.flowerStar-2tNFCR path {
   fill: var(--background-accent) !important;
}

.lookFilled-yCfaCM.colorGrey-2iAG-B,
.lookFilled-yCfaCM.colorGrey-2iAG-B:active,
.lookFilled-yCfaCM.colorGrey-2iAG-B:disabled,
.progress-3ClF2n .progressBar-3DupbT,
.liveQualityIndicator-2GyS_e,
#gif-picker-tab-panel .result-pzZrwj {
   background-color: var(--background-accent) !important;
}

.navButtonActive-1EqC5l {
   background-color: var(--background-modifier-active) !important;
}

.overflow-3zpvTV {
   background-color: var(--background-accent);
   color: var(--text-muted);
}

.overflowRolesPopoutHeaderIcon-2LIuSc path {
   fill: var(--text-muted) !important;
}

.participantsButton-1WBdFP:hover,
.icon-2TbMdT:hover {
   background: var(--background-accent-alt);
}

.pictureInPictureVideo-2puO2Q {
   background: var(--background-floating);
}

.powercord-quickcss .CodeMirror-selected {
   background-color: rgba(255, 255, 255, 0.15) !important;
}

.powercord-quickcss-editor-settings .close {
   border: 2px var(--background-accent) solid;
}

.regionSelectModal-12e-57 {
   background: var(--background-primary) !important;
}

.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3 {
   background-color: var(--background-secondary);
   border: 2px solid var(--background-secondary);
}

.regionSelectPopout-3sEzVB {
   box-shadow: var(--elevation-high);
   box-shadow: var(--elevation-high);
}

.result-pzZrwj[style*="background-color: rgb(24, 25, 28)"] {
   background: unset !important;
}

.scrollbar-3vVt8d::-webkit-scrollbar-thumb {
   background-color: var(--scrollbar-thin-thumb);
}

.tabButton-1hJ4oW path:first-child {
   fill: var(--background-primary) !important;
   filter: invert(0.15);
}

.tabButton-1hJ4oW rect {
   fill: var(--background-secondary) !important;
   filter: invert(0.1);
}

.theme-dark #MemberCount {
   background: var(--background-secondary) !important;
}

.theme-dark .actionButton-1YKTU0 {
   border-color: var(--background-accent);
   color: var(--text-muted);
}

.theme-dark .auditLog-3jNbM6,
.theme-dark .auditLog-1NVAY0 {
   border-color: var(--background-modifier-accent);
   color: var(--text-muted);
}

.theme-dark .background-3xJH_4,
.theme-dark .gemWithoutLabel-1od40y {
   color: var(--background-accent);
}

.theme-dark .background-3laMJt {
   stroke: var(--background-accent);
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__current-month,
.theme-dark .calendarPicker-sDhzdi .react-datepicker__week:last-of-type .react-datepicker__day {
   border-bottom-color: var(--background-modifier-accent);
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__day {
   border-left-color: var(--background-modifier-accent);
   border-top-color: var(--background-modifier-accent);
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__week .react-datepicker__day:last-of-type {
   border-right-color: var(--background-modifier-accent);
}

.theme-dark .colorPickerCustom-1swUKF {
   background: var(--background-primary);
   border-color: var(--background-floating);
}

.theme-dark .contentWarningPopout-WKdbDG {
   -webkit-box-shadow: var(--elevation-high);
   background-color: var(--background-secondary);
   box-shadow: var(--elevation-high);
}

.theme-dark .datePicker-70cO23 .datePickerHint-17MnA8 {
   border-top: 1px solid var(--background-modifier-accent);
}

.theme-dark .dragged-S44x-A {
   background: var(--background-modifier-active);
   background-image: none !important;
}

.theme-dark .elevationBorderHigh-3drnJX,
.theme-dark .autocompleteArrow-jJE9TQ,
.theme-dark .autocompleteShadow-2nfsSy {
   box-shadow: var(--elevation-high);
}

.theme-dark .elevationBorderLow-3_3rXL {
   -webkit-box-shadow: var(--elevation-high);
   box-shadow: var(--elevation-high);
}

.theme-dark .everyonePopout-nEbJY3 {
   background-color: var(--background-floating);
   box-shadow: var(--elevation-high);
}

.theme-dark .message-G6O-Wv {
   background-color: var(--background-secondary);
   box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6), var(--elevation-high);
   -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6), var(--elevation-high);
}

.theme-dark .footer-VCsJQY {
   background-color: var(--background-secondary);
   box-shadow: var(--elevation-high);
}

.theme-dark .gameNameInput-3TuPuA:focus,
.theme-dark .gameNameInput-3TuPuA:hover {
   background-color: var(--deprecated-text-input-bg);
   border-color: var(--deprecated-text-input-border);
}

.theme-dark .guildName-1kreI8,
.theme-dark .override-1sK4r0,
.theme-dark .overrideHighlight-3f-yyO {
   color: var(--channels-default);
}

.theme-dark .guildPopout-G6M0fK {
   -webkit-box-shadow: var(--elevation-high);
   background-color: var(--background-primary);
   box-shadow: var(--elevation-high);
}

.theme-dark .headerClickable-zGQJz3,
.theme-dark .headerDefault-1e6yjj {
   background-color: var(--background-modifier-hover);
   color: var(--text-muted);
}

.theme-dark .headerExpanded-1-zwDr {
   background-color: var(--background-modifier-selected);
   color: var(--text-muted);
}

.theme-dark .headerExpanded-CUEwZ5,
.theme-dark .reactionSelected-1aMb2K {
   background-color: var(--background-modifier-selected);
}

.theme-dark .installationPath-2PbaRC {
   -webkit-box-shadow: 0 1px 0 0 var(--background-modifier-accent);
   box-shadow: 0 1px 0 0 var(--background-modifier-accent);
}

.theme-dark .invite-3uuHYQ {
   background: var(--background-modifier-hover);
   border-color: var(--background-modifier-accent);
}

.theme-dark .keybindShortcut-3zF1P9 span {
   background-color: var(--background-accent);
   border: none !important;
   box-shadow: inset 0 -4px 0 var(--background-modifier-accent);
}

.theme-dark .keybindShortcut-3zF1P9 span:active {
   -webkit-box-shadow: inset 0 -2px 0 var(--background-modifier-accent);
   border: inset 0 -2px 0 var(--background-modifier-accent);
   box-shadow: inset 0 -2px 0 var(--background-modifier-accent);
   color: var(--text-muted);
}

.theme-dark .option-ayUoaq:after {
   background: none !important;
}

.theme-dark .overflowRolesPopout-1Puiuq,
.theme-dark .overflowRolesPopoutArrow-2R7g3K {
   -webkit-box-shadow: var(--elevation-high);
   background-color: var(--background-tertiary);
   box-shadow: var(--elevation-high);
}

.theme-dark .overlayToggleIconOn-21NN2N .fill-297bdf {
   fill: var(--text-muted);
}

.theme-dark .overridePlaceholder-1nDEsX {
   border: 1px dashed var(--background-accent);
}

.theme-dark .placeholder-T1Tuu8,
.participantsButton-1WBdFP,
.theme-dark .iconWrapper-2_MXbk,
.powercord-quickcss-editor-settings .close:hover {
   background: var(--background-accent);
}

.theme-dark .popout-AVsFMl {
   background-color: var(--background-tertiary);
   box-shadow: var(--elevation-high);
}

.theme-dark .previewHover-MxPmU1 {
   background: var(--background-modifier-hover);
}

.theme-dark .queryContainer-ZunrLZ {
   border-bottom-color: var(--background-modifier-accent);
   color: var(--text-muted);
}

.theme-dark .quickSelectPopout-2F0PXw,
.colorable-3rVGna.primaryDark-2UJt1G.active-3D763s,
.colorable-3rVGna.primaryDark-2UJt1G:hover,
.streamPreview-3Fo29Y,
.theme-dark .popoutList-10IFAa,
.theme-dark .scroller-2GkvCq {
   background: var(--background-secondary);
}

.theme-dark .quickSelectPopoutOption-2E2UmS:hover,
.active-136ioF,
.hover-3OQb9Y:hover,
.theme-dark .changeDetails-bk98pu,
.theme-dark .headerClickable-2IVFo9,
.theme-dark .headerDefault-1wrJcN,
.theme-dark .inviteRow-3vmB7i:hover,
.theme-dark .memberListItem-3V-x8Q:not(.popoutDisabled-PP2QdB):hover,
.theme-dark .reactionDefault-1Sjj1f:hover,
.pageButton-1GMGeJ:hover,
.navButton-1XuvI-:hover,
.emojiItem-277VFM.emojiItemSelected-2Lg50V,
.theme-dark .selectableItem-3-fmiM:hover,
.theme-dark .changeDetails-1kMZqI {
   background-color: var(--background-modifier-hover);
}

.theme-dark .reactorDefault-3GSyaV {
   -webkit-box-shadow: inset 0 -1px 0 var(--background-modifier-accent);
   box-shadow: inset 0 -1px 0 var(--background-modifier-accent);
}

.theme-dark .resolvingBackground-1MSH01,
.popoutLoadingForeground-3xnRkg {
   background-image: linear-gradient(90deg, var(--background-accent-alt), var(--background-accent));
}

.perksModal-CLcR1c {
   background-color: var(--background-tertiary) !important;
}

.tierBody-3ju-rc,
.addGamePopout-2SKNIV {
   background-color: var(--background-primary) !important;
}

.theme-dark .tierHeaderLocked-3ItHYn {
   background-color: var(--background-secondary);
   color: var(--text-muted);
}

.theme-dark .searchOption-351dTI .filter-2QaH9y,
.theme-dark .option-ayUoaq .filter-2QaH9y,
.theme-dark .option-ayUoaq.user-1dKxvu .displayedNick-1atSpT,
.theme-dark .option-ayUoaq .answer-14OVbQ,
.theme-dark .option-ayUoaq .nonText-3_4gtu,
.theme-dark .option-ayUoaq strong,
.regionSelectName-2-2FWh,
.theme-dark .notDetected-2HEmAp .gameName-Uw4dbt,
.theme-dark .content-s2SEQO ol,
.theme-dark .content-s2SEQO p,
.theme-dark .content-s2SEQO ul li,
.theme-dark .rowTitle-2MoCno,
.theme-dark .userHook-3AdCBF,
.theme-dark .auditLog-3jNbM6 strong {
   color: var(--text-normal);
}

.theme-dark .separator-2lLxgC {
   -webkit-box-shadow: 0 1px 0 0 var(--background-modifier-active), 0 1px 2px 0 var(--background-modifier-active);
   box-shadow: 0 1px 0 0 var(--background-modifier-active), 0 1px 2px 0 var(--background-modifier-active);
}

.theme-dark .tierHeaderLocked-30MLlO,
.theme-dark .emptyHintCard-3Btf0V,
.theme-dark .tierHeaderLocked-1s2JJz,
.theme-dark .footer-2aeMle {
   background-color: var(--background-tertiary);
   color: var(--text-muted);
}

.theme-dark .tierHeaderUnlocked-1OpOLf,
.toolbar-37BrJ5,
.theme-dark .previewContainer-35LFgt,
.tile-2TcwiO,
.theme-dark .applicationStreamingPreviewWrapper-7j27t8,
.theme-dark .tile-2mmK5T:hover {
   background-color: var(--background-floating);
}

.theme-dark .tile-2mmK5T {
   background-color: var(--background-tertiary);
   box-shadow: none;
}

.theme-dark .uploadModal-2ie9O_,
.theme-dark .modal-2RrUKJ {
   background-color: var(--background-primary);
   box-shadow: var(--elevation-high);
}

.theme-dark .verificationBlock-xhj3fR {
   border: 1px solid var(--background-secondary);
}

.theme-dark .watchButton-2YRKxv {
   border-color: var(--background-accent);
}

.theme-dark.authBox-1HR6Ha {
   background: var(--background-primary);
   color: var(--text-muted);
}

.theme-light .app-2CXKsg .layer-86YKbF:first-of-type {
   background-color: var(--background-secondary) !important;
   background-size: 30%;
}

.theme-light .item-3XjbnG:nth-of-type(14) {
   animation: flash 1s ease infinite;
   background: #f04747 !important;
   border: 1px solid transparent;
}

.tierMarkerAccomplished-1SkbEJ,
.tierMarkerInProgress-2Tdxjz {
   background: var(--background-accent) !important;
}

.tierMarkerAccomplished-1SkbEJ.tierMarker-Vw1C95 {
   background: #ff73fa !important;
}

.toolbar-37BrJ5:before {
   border-top: 8px solid var(--background-floating);
}

div[style*="/assets/5e64269a40d5bb745c2f3df29f26738d.svg"] {
   background-image: url(https://discord-modifications.github.io/dark-discord/assets/missed_call.svg) !important;
}

.theme-dark .option-ayUoaq.selected-rZcOL-,
.theme-dark .option-ayUoaq[aria-selected="true"] {
   background-color: var(--background-modifier-active);
}

.theme-dark .tierLock-1uBqZ0,
.theme-dark .bannedUser-26qsXF .username-2QcOp4 .discrim-1rThJo,
.theme-dark .bannedUserModal-9XjyCI .reason-3pVhOz,
.theme-dark .bannedUserModal-9XjyCI .userDiscrim-vaUAuA,
.theme-dark .searchOption-3u1gRt .answer-14OVbQ,
.theme-dark .option-ayUoaq.user-1dKxvu .displayUsername-UTerwm,
.lookGhost-2Fn_0-.colorGrey-2iAG-B,
.theme-dark .searchResultChannelCategory-19ujDo,
.theme-dark .searchResultChannelIcon-C-3P9x,
.theme-dark .tierLock-3CSxSX,
.theme-dark .discriminator-1DCM-o,
.theme-dark .keybind-13vtq8,
.theme-dark .nowPlayingAdd-3lvnXJ,
.theme-dark .notDetected-2HEmAp .lastPlayed-1jum9A,
.theme-dark .resultsGroup-1BPR25 .header-3A13BX,
.theme-dark .resultsGroup-1BPR25 .plusIcon-2V7coV,
.theme-dark .resultsGroup-1BPR25 .searchClearHistory-2Be-92,
.theme-dark .resultsGroup-1BPR25 .searchLearnMore-7__o_n a,
.theme-dark .date-1k6kG2,
.disabled-35mc5w,
.theme-dark .rowBody-uWDd7Y,
.theme-dark .timestamp-1mruiI,
.theme-dark .bannedUser-1IalTM .username-1b3MVI .discrim-oGb-FO,
.theme-dark .bannedUserModal-3RJCOV .reason-YbfGC6,
.theme-dark .bannedUserModal-3RJCOV .userDiscrim-1D2NlF,
.theme-dark .sizeInfo-3KtZ1G,
.regionSelectModal-12e-57 .regionSelectModalFooter-20C5iA,
.theme-dark .container-1S70rv .sectionTag-28mLyE,
.maxLength-IdVNmX,
.overflowRolesPopoutHeaderText-3HyHGv,
.theme-dark .descriptionWrapper-eOmU90,
.theme-dark .timestamp-147bcs,
.tierIconLocked-RGSkSl,
.theme-dark .body-2rDNbs {
   color: var(--text-muted);
}

.theme-dark .divider--oiTeJ,
.theme-dark .sectionAccountCredit-1IqaxB,
.theme-dark .subscriptionDetails-ZcKNHC {
   border-color: var(--background-modifier-accent);
}

.theme-dark .elevationBorderHigh-1s5JCj {
   -webkit-box-shadow: 0 0 0 1px var(--background-tertiary), 0 2px 10px 0 rgba(0, 0, 0, 0.25);
   box-shadow: 0 0 0 1px var(--background-tertiary), 0 2px 10px 0 rgba(0, 0, 0, 0.25);
}

.tutorialContainer-1pL9QS .childWrapper-1j_1ub rect[fill="#36393f"] {
   fill: var(--background-primary) !important;
}

.theme-dark .header-145e10 .tabBar-1qdMr5 .tab-TRrPC8.active-1grPyy,
.theme-dark .divider-1pnAR2,
.theme-dark .tab-2j5AEF.selected-2LAck8,
.theme-dark .divider-2L-ojc,
.theme-dark .divider-M3saWq,
.theme-dark .copyLink-1bBHaR:before {
   background-color: var(--background-modifier-accent);
}

.theme-dark .guildIconImage-74OdmM,
.theme-dark .partyMemberOverflow-3G1oZz,
.theme-dark .dim-2Uxgxb span,
.button-3Vyz67,
.theme-dark .tierInProgress-1vFUnw,
.theme-dark .barBackground-unEPDT,
.cta-2DQ2ez,
.cta-3-AFNF,
.statusOffline-2R-ArP,
.theme-dark .spoilerText-27bIiA.hidden-3B-Rum,
.theme-dark .tierPill-1yRO48,
.option-Tt7anD,
.buttonColor-28DXIe,
.theme-dark .defaultIndicator-1AxErs,
.theme-dark .installSize-3az1nt,
.theme-dark .defaultIndicator-2ndWks,
.theme-dark .voiceSectionIconWrapper-4yoj76,
.theme-dark .multipleIconWrapper-2YHnS6,
.gifIconContainer-3os21a {
   background-color: var(--background-accent);
}

.theme-dark .focused-2FU0YH,
.theme-dark .calendarPicker-sDhzdi .react-datepicker__day--disabled,
.theme-dark .calendarPicker-sDhzdi .react-datepicker__day--outside-month,
.theme-dark .emojiAliasInput-1y-NBz .emojiInput-1aLNse,
.videoWrapper-3rtb_V,
.theme-dark .streamPreview-I7itZ6,
.theme-dark .container-1ILvLB .header-2C89wJ,
.theme-dark .autocompleteArrow-jJE9TQ,
.theme-dark .header-3i_Csh,
.theme-dark .invalidPoop--w1123,
.navRow-dG-XX8,
.theme-dark.navRow-dG-XX8,
.theme-dark .buttonContainer-28osRq {
   background-color: var(--background-tertiary);
}

.theme-dark .searchAnswer-23w-CH,
.theme-dark .searchFilter-2UfsDk,
.theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled,
.theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled:hover,
.theme-dark .keyboardShortcutsModal-2CRmCm,
.theme-dark .Modal-fSYqOq,
.theme-dark .tierMarkerBackground-G8FoN4,
.theme-dark .container-KM8BU6,
.theme-dark .reactors-1VXca7,
.webkit-QgSAqd::-webkit-scrollbar-thumb,
.theme-dark .perk-19D_HN,
.theme-dark .container-3wLKDe,
.theme-dark .background-fkKrXt {
   background-color: var(--background-primary);
}

.theme-dark .override-1sK4r0:hover,
.theme-dark .searchBox-pyIJJj,
.categoryHeader-OpJ1Ly,
.mainCard-3KBsBI:hover,
.containerCard-2kwJKN:hover,
.card-3x20HF:hover {
   background-color: var(--background-secondary-alt);
}

.theme-dark .input-3NIgDw,
.theme-dark .container-2McqkF,
.theme-dark .calendarPicker-sDhzdi .react-datepicker,
.theme-dark .calendarPicker-sDhzdi .react-datepicker__header,
.theme-dark .tierBody-1d3UiS,
.theme-dark .perk-2WeBWW,
.theme-dark .container-1ILvLB section,
.theme-dark .container-1S70rv .sectionTag-28mLyE,
.theme-dark .verificationBlock-xhj3fR:hover,
.theme-dark .tierBody-16Chc9,
.cardPrimary-3qRT__,
.cardPrimaryEditable-2mz_3i,
.cardPrimaryOutline-1ofwVz,
.cardPrimaryOutlineEditable-1VE28Z,
.backgroundOptionInner-SSz19O,
.mainCard-3KBsBI,
.container-2Hi7Km, .icon-2IDTxf,
.containerCard-2kwJKN,
.card-3x20HF {
   background-color: var(--background-secondary);
}

.previewContainer-1xQAsw .theme-light {
   --background-primary: #fff;
}

.previewContainer-1xQAsw .theme-light {
   --background-primary: hsl(0, calc(var(--saturation-factor, 1) * 0%), 100%) !important;
   --text-normal: hsl(210, calc(var(--saturation-factor, 1) * 9.8%), 20%) !important;
   --text-muted: hsl(213, calc(var(--saturation-factor, 1) * 9.6%), 40.8%) !important;
}
