:root, .theme-light, .theme-dark {
   --activity-card-background: var(--background-tertiary)!important;
   --background-accent: #292929!important;
   --background-accent-alt: #242424!important;
   --background-floating: #090909!important;
   --background-modifier-accent: hsla(0, 0%, 100%, 0.06)!important;
   --background-modifier-active: rgba(255, 255, 255, 0.03)!important;
   --background-modifier-hover: rgba(255, 255, 255, 0.02)!important;
   --background-modifier-selected: rgba(255, 255, 255, 0.04)!important;
   --background-primary: #141414!important;
   --background-secondary: #111!important;
   --background-secondary-alt: #0e0e0e!important;
   --background-tertiary: #0c0c0c!important;
   --channels-default: var(--text-muted)!important;
   --channeltextarea-background: #202020!important;
   --deprecated-card-bg: var(--background-secondary)!important;
   --deprecated-card-editable-bg: var(--background-secondary)!important;
   --deprecated-quickswitcher-input-background: var(--background-primary)!important;
   --deprecated-quickswitcher-input-placeholder: var(--interactive-muted)!important;
   --deprecated-store-bg: var(--background-primary)!important;
   --deprecated-text-input-bg: rgba(0, 0, 0, 0.1)!important;
   --deprecated-text-input-border: rgba(0, 0, 0, 0.3)!important;
   --deprecated-text-input-border-disabled: rgba(0, 0, 0, 0.1)!important;
   --deprecated-text-input-border-hover: rgba(0, 0, 0, 0.7)!important;
   --header-primary: var(--text-normal)!important;
   --header-secondary: var(--text-muted)!important;
   --interactive-active: #fff!important;
   --interactive-hover: #dcddde!important;
   --interactive-muted: #747474!important;
   --interactive-normal: #c8c8c8!important;
   --scrollbar-auto-scrollbar-color-thumb: var(--background-accent)!important;
   --scrollbar-auto-scrollbar-color-track: rgba(0, 0, 0, 0.1)!important;
   --scrollbar-auto-thumb: var(--background-accent)!important;
   --scrollbar-auto-track: rgba(0, 0, 0, 0.1)!important;
   --scrollbar-thin-thumb: var(--background-accent)!important;
   --scrollbar-thin-track: transparent!important;
   --text-link: #00b0f4!important;
   --text-muted: #b6b6b6!important;
   --text-normal: #fbfbfb!important;
   --toast-background: var(--background-secondary)!important;
   --toast-border: transparent!important;
   --toast-box-shadow: rgba(0, 0, 0, .1)!important;
   --toast-contents: var(--background-tertiary)!important;
   --toast-header: var(--background-tertiary)!important;
}

.lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
   background-color: var(--background-accent-alt);
}

.imageLoading-bpSr0M {
   background: var(--background-accent)!important;
   border-radius: 10px;
}

.inset-3sAvek {
   background-color: var(--background-primary)!important;
}

.theme-dark .item-3T2z1R {
   border-color: var(--background-tertiary)!important;
}

.theme-dark .passthroughSelected-1Eq0Kl {
   background: var(--background-accent)!important;
}

.theme-dark .closeButton-1tv5uR {
   border-color: var(--background-accent)!important;
}

.theme-dark .codeRedemptionRedirect-1wVR4b {
   background-color: var(--background-secondary);
   border-color: var(--background-tertiary);
}

.theme-dark .paginator-2CA79G {
   color: #fff;
}

.theme-dark .disabled-BrLY9Y:hover {
   border-color: var(--background-modifier-active);
   color: var(--text-muted);
}

.theme-dark .bottomDivider-1K9Gao {
   border-bottom-color: var(--background-modifier-accent);
}

.theme-dark .payment-xT17Mq {
   background-color: var(--background-secondary);
   color: transparent;
}

.theme-dark .expandedInfo-3kfShd {
   background-color: var(--background-tertiary);
}

.peopleColumn-29fq28 {
   background: var(--background-primary);
}

.lookFilled-1Gx00P.button-38aScr.colorPrimary-3b3xI6:active:not(:disabled), .lookFilled-1Gx00P.button-38aScr.colorPrimary-3b3xI6:hover:not(:disabled) {
   background-color: var(--background-accent-alt)!important;
}

.theme-dark .root-1gCeng {
   -webkit-box-shadow: var(--elevation-high);
   background-color: var(--background-primary);
   box-shadow: var(--elevation-high);
}

.theme-dark .footer-2gL1pp {
   -webkit-box-shadow: var(--elevation-high);
   background-color: var(--background-tertiary);
   box-shadow: var(--elevation-high);
}

.theme-dark .gemIndicatorContainer-2jdECl {
   background-color: var(--background-primary);
}

.theme-dark .notches-1sAcEM.gray-3_LNYR {
   background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='20' fill='%23141414'%3E%3Cpath fill-rule='evenodd' d='M0 0h8v20H0V0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z'/%3E%3C/svg%3E");
}

.theme-dark .notches-1sAcEM.black-1D3qCv {
   background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='20' fill='%23090909'%3E%3Cpath fill-rule='evenodd' d='M0 0h8v20H0V0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z'/%3E%3C/svg%3E");
}

html:not(#\20) .css-gvi9bl-control {
   background-color: var(--deprecated-text-input-bg);
   border-color: var(--deprecated-text-input-border);
}

.css-3vaxre-menu {
   background-color: var(--background-secondary)!important;
   border: none!important;
   box-shadow: var(--elevation-high)!important;
}

.css-o3gndj-placeholder {
   color: var(--text-muted)!important;
}

.theme-dark .tooltipGrey-1hnvTt, .theme-light .tooltipGrey-1hnvTt {
   background-color: var(--background-floating);
}

.theme-dark .tooltipGrey-1hnvTt .tooltipPointer-3ZfirK, .theme-light .tooltipGrey-1hnvTt .tooltipPointer-3ZfirK {
   border-top-color: var(--background-floating);
}

.theme-dark .item-3eFBNF {
   -webkit-box-shadow: inset 0 -1px 0 0 var(--background-modifier-accent);
   box-shadow: inset 0 -1px 0 0 var(--background-modifier-accent);
}

.theme-dark .game-1ipmAa {
   -webkit-box-shadow: 0 1px 0 0 var(--background-modifier-accent);
   box-shadow: 0 1px 0 0 var(--background-modifier-accent);
}

.theme-dark .button-2CgfFz {
   -webkit-box-shadow: 0 0 0 1px var(--background-tertiary), 0 1px 5px 0 rgba(0, 0, 0, .3);
   background-color: var(--background-secondary);
   box-shadow: 0 0 0 1px var(--background-tertiary), 0 1px 5px 0 rgba(0, 0, 0, .3);
}

.theme-dark .button-2CgfFz:hover {
   -webkit-box-shadow: 0 0 0 1px var(--background-tertiary), 0 2px 10px 0 rgba(0, 0, 0, .2);
   background-color: var(--background-primary);
   box-shadow: 0 0 0 1px var(--background-tertiary), 0 2px 10px 0 rgba(0, 0, 0, .2);
}

.quickswitcher-3JagVE {
   -webkit-box-shadow: var(--elevation-high);
   box-shadow: var(--elevation-high);
}

.theme-dark .popout-38lTFE {
   -webkit-box-shadow: var(--elevation-high);
   background-color: var(--background-floating);
   box-shadow: var(--elevation-high);
}

.theme-dark .separator-XqIyoz {
   background-color: var(--background-modifier-accent);
}

.theme-dark .pageWrapper-1PgVDX {
   background-color: var(--background-primary);
   color: #fff;
}

.css-ix84ef-menu {
   background-color: var(--background-secondary)!important;
   box-shadow: var(--elevation-high)!important;
}

.theme-dark .iconForeground-1w5n7R {
   fill: var(--text-muted);
}

.slateBlockquoteContainer-u5zDDJ .blockquoteDivider-2hH8H6 {
   background-color: var(--background-accent);
   filter: brightness(1.1);
}

.theme-light .layer-3QrUeG:first-of-type::before {
   -ms-transform: translate(-50%, -50%);
   background: var(--background-primary);
   border: 1px solid #f04747;
   border-radius: 5px;
   box-shadow: 0 2px 10px rgba(240, 71, 71, 0.3);
   color: #fff;
   content: 'Dark Discord only supports the dark appearance of Discord. Follow the highlights to set your appearance to dark.';
   display: block;
   height: 30px;
   left: 50%;
   padding: 20px;
   position: fixed;
   text-align: center;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 400px;
   z-index: 2;
}

.theme-light .preview-2nSL_2.cardPrimaryOutline-29Ujqw+.marginTop40-i-78cZ .radioGroup-1GBvlr .cardPrimaryEditable-3KtE4g:first-of-type, .theme-light .preview-2nSL_2.cardPrimaryOutline-29Ujqw+.marginTop40-i-78cZ .radioGroup-1GBvlr .item-26Dhrx:first-of-type {
   animation: flash 1s ease infinite;
   background: #f04747;
   color: #fff;
}

.theme-light .app-2rEoOp .base-3dtUhz {
   overflow: visible;
}

.theme-light .app-2rEoOp .container-3baos1>.noWrap-3jynv6>.button-14-BFJ:nth-child(3) {
   -ms-transform: translate(-50%, -50%);
   animation: flash 1s ease infinite;
   background: #f04747!important;
   border: 1px solid transparent;
   border-radius: 5px;
   box-shadow: 0 2px 10px rgba(240, 71, 71, 0.3);
   height: 40px;
   left: 50%;
   margin-top: 70px;
   opacity: 1;
   position: fixed;
   top: 50%;
   transform: translate(-50%, -50%);
   visibility: visible!important;
   width: 230px;
}

.theme-light .app-2rEoOp .container-3baos1>.noWrap-3jynv6>.button-14-BFJ:nth-child(3)::before {
   align-items: center;
   border-radius: 5px;
   color: #fff;
   content: 'Settings';
   display: flex;
   font-size: 17px;
   font-weight: 700;
   height: 14px;
   justify-content: center;
   left: 50%;
   position: absolute;
   text-align: center;
   top: 50%;
   transform: translate(-50%, -50%);
   visibility: visible!important;
   width: 230px;
   z-index: 10000;
}

.theme-light .app-2rEoOp .layer-3QrUeG:first-of-type *, .theme-light .app-2rEoOp .layer-3QrUeG:first-of-type ::after, .theme-light .app-2rEoOp .layer-3QrUeG:first-of-type ::before {
   visibility: hidden!important;
}

.lookFilled-1Gx00P.colorGrey-2DXtkV, .theme-dark .progress-1IcQ3A, .option-n0icdO, .theme-dark .closeButton-1tv5uR:hover, .blockquoteDivider-2hH8H6 {
   background-color: var(--background-accent);
}

.outer-1AjyKL.active-1xchHY, .outer-1AjyKL.interactive-3B9GmY:hover, .container-2VW0UT {
   background-color: var(--background-floating)!important;
}

.result-3w1ZcL[style*="background-color: rgb(24, 25, 28);"], .lookFilled-1Gx00P.button-38aScr.colorPrimary-3b3xI6 {
   background-color: var(--background-accent)!important;
}

.theme-dark .elevationHigh-1PneE4, .userPopout-3XzG_A {
   -webkit-box-shadow: var(--elevation-high)!important;
   box-shadow: var(--elevation-high)!important;
}

.theme-dark .headerNormal-T_seeN, .css-12hk9yc-control, .css-1adxh11-control, .css-1emou8a-control {
   background-color: var(--background-tertiary)!important;
}

.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6, .theme-dark .paymentPane-3bwJ6A {
   background-color: var(--background-secondary);
}

.theme-dark .pageIndicator-1gAbyA, .theme-dark .pageButtonNext-V2kUq0, .theme-dark .pageButtonPrev-1Y-47D {
   border-color: var(--background-accent);
}

.theme-dark .paymentHeader-3QlZQi, .theme-dark .sectionAccountCredit-1uNhnJ, .theme-dark .subscriptionDetails-1dUmjl, .theme-dark .divider-3WKGWk, .theme-dark .checkbox-1ix_J3 {
   border-color: var(--background-modifier-accent);
}

.theme-dark .hoverablePayment-Yc6mK7:hover, .theme-dark .memberListItem-31QoHj:not(.popoutDisabled-2RK7MF):hover, .theme-dark .enabled-1t_Gxm:hover {
   background-color: var(--background-modifier-hover);
}

.theme-dark .bar-2Qqk5Z, .theme-dark .markDash-3hAolZ {
   background: var(--background-accent);
}

.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC, .theme-dark .card-FDVird:before {
   background-color: var(--background-secondary);
   border-color: var(--deprecated-text-input-border);
}

.theme-dark .row-2o2DzQ, .theme-dark .row-2okwlC {
   -webkit-box-shadow: inset 0 -1px 0 var(--background-modifier-accent);
   box-shadow: inset 0 -1px 0 var(--background-modifier-accent);
}

.theme-dark .markValue-2DwdXI, .theme-dark .lastPlayed-3bQ7Bo, .theme-dark .overlayStatusText-L2IACa, .colorGrey-2DXtkV, .theme-dark .description-11DmNu, .theme-dark .descriptionUsername-J_75O8, .theme-dark .descriptionDiscriminator-3vUOCc, .theme-dark .contentTitle-2tG_sM, .theme-dark .subText-2Zhkkh, .theme-light .subText-2Zhkkh, .theme-dark .paymentText-2vaF7U, .autocompleteRowVertical-q1K4ky .selectable-3dP3y- .colorStandard-2KCXvj {
   color: var(--text-muted);
}

.theme-dark .notDetected-33MY4s, .theme-light .notDetected-33MY4s, .theme-dark .autocomplete-1vrmpx {
   background-color: var(--background-secondary-alt);
}

.theme-dark .paginator-166-09, .theme-dark .contentWrapper-3WC1ID {
   background: var(--background-secondary);
}

.theme-dark .friendSelected-1sa4bG, .theme-dark .selected-1Tbx07 {
   background-color: var(--background-modifier-active);
}

@keyframes flash {
   50% {
      border-color: #f04747;
   }
   100%, 0% {
      border-color: #fff;
   }
}

.platform-win.theme-light .item-PXvHYJ:nth-of-type(20), html:not(.platform-win).theme-light .item-PXvHYJ:nth-of-type(19) {
   animation: flash 1s ease infinite;
   background: #f04747!important;
   border: 1px solid transparent;
}

.theme-light .app-2rEoOp .layer-3QrUeG:first-of-type {
   background-color: var(--background-secondary)!important;
   background-size: 30%;
}

.theme-dark .option-96V44q.selected-rZcOL- {
   background-color: var(--background-modifier-active);
}

.theme-dark .option-96V44q:after {
   background: none!important;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__week .react-datepicker__day:last-of-type {
   border-right-color: var(--background-modifier-accent);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day {
   border-left-color: var(--background-modifier-accent);
   border-top-color: var(--background-modifier-accent);
}

.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw {
   border-top: 1px solid var(--background-modifier-accent);
}

.colorable-1bkp8v.primaryDark-3mSFDl {
   background: var(--background-primary);
}

.bd-toast {
   background: var(--background-floating) !important;
   box-shadow: var(--elevation-high) !important;
}

.flowerStar-1GeTsn path {
   fill: var(--background-accent)!important;
}

.theme-dark .keybindShortcut-1BD6Z1 span {
   -webkit-box-shadow: inset 0 -4px 0 var(--background-modifier-accent);
   background-color: var(--background-accent);
   border: none!important;
   box-shadow: inset 0 -4px 0 var(--background-modifier-accent);
}

.toolbar-2bjZV7:before {
   border-top: 8px solid var(--background-floating);
}

.pictureInPictureVideo-2iKsGg {
   background: var(--background-floating);
}

.theme-dark .headerExpanded-CUEwZ5 {
   background-color: var(--background-modifier-selected);
}

.theme-dark .auditLog-3jNbM6 {
   border-color: var(--background-modifier-accent);
}

.theme-dark .background-3xPPFc {
   color: var(--background-accent);
}

.tierMarkerAccomplished-2MiXeg, .tierMarkerInProgress-24LMzJ {
   background: var(--background-accent)!important;
}

.tierMarkerAccomplished-2MiXeg.tierMarker-5HkGJ_ {
   background: #ff73fa!important;
}

.emptyPreview-2kuSNe {
   background: var(--background-tertiary);
}

.theme-dark .elevationBorderHigh-2WYJ09 {
   -webkit-box-shadow: var(--elevation-high);
   box-shadow: var(--elevation-high);
}

.theme-dark .queryContainer-RKFJW- {
   border-bottom-color: var(--background-modifier-accent);
   color: var(--text-muted);
}

.theme-dark .placeholder-1kJjXI {
   background: var(--background-accent);
}

.popoutLoadingForeground-2mZT61 {
   background-image: linear-gradient(90deg, var(--background-accent-alt), var(--background-accent));
}

.theme-dark .popout-6p6fkZ {
   -webkit-box-shadow: var(--elevation-high);
   background-color: var(--background-tertiary);
   box-shadow: var(--elevation-high);
}

.theme-dark .invite-18yqGF {
   background: var(--background-modifier-hover);
   border-color: var(--background-modifier-accent);
}

.theme-dark .previewHover-1tGzfF {
   background: var(--background-modifier-hover);
}

.theme-dark .dim-1l4L4y span, .button-3HqqDX, .theme-dark .tierInProgress-3mBoXq, .theme-dark .barBackground-2EEiLw, .cta-2DQ2ez, .lookFilled-1Gx00P.colorGrey-2DXtkV {
   background-color: var(--background-accent);
}

.theme-dark .focused-2bY0OD, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month, .theme-dark .emojiAliasInput-1y-NBz .emojiInput-1aLNse, .theme-dark .tierHeaderLocked-1a2opw, .videoWrapper-2v09vt, .theme-dark .streamPreview-2-WUWT {
   background-color: var(--background-tertiary);
}

.theme-dark .container-3ayLPN, .theme-dark .calendarPicker-2yf6Ci .react-datepicker, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__header, .theme-dark .addGamePopout-2RY8Ju, .theme-dark .tierBody-x9kBBp, .theme-dark .tierBody-16Chc9, .theme-dark .perk-2WeBWW {
   background-color: var(--background-secondary);
}

.theme-dark .searchOption-zQ-1l6 .answer-1n6g43, .theme-dark .option-96V44q.user-O3Czj0 .displayUsername-Qekxml, .lookGhost-2Fn_0-.colorGrey-2DXtkV, .theme-dark .searchResultChannelCategory-1l0lSn, .theme-dark .searchResultChannelIcon-1DnTme {
   color: var(--text-muted);
}

.theme-dark .searchOption-zQ-1l6 .filter-3Y_im-, .theme-dark .option-96V44q .filter-3Y_im-, .theme-dark .option-96V44q.user-O3Czj0 .displayedNick-3xxvzU, .theme-dark .option-96V44q .answer-1n6g43, .theme-dark .option-96V44q .nonText-3CRkO0, .theme-dark .option-96V44q strong {
   color: var(--text-normal);
}

.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover, .theme-dark .keyboardShortcutsModal-3piNz7, .theme-dark .perksModal-fSYqOq, .theme-dark .tierMarkerBackground-3q29am {
   background-color: var(--background-primary);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__current-month, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__week:last-of-type .react-datepicker__day {
   border-bottom-color: var(--background-modifier-accent);
}

.colorable-1bkp8v.primaryDark-3mSFDl.active-1QRrIS, .colorable-1bkp8v.primaryDark-3mSFDl:hover, .streamPreview-3YL8OQ, .theme-dark .popoutList-T9CKZQ {
   background: var(--background-secondary);
}

.theme-dark .uploadModal-2ifh8j, .theme-dark .modal-yWgWj- {
   -webkit-box-shadow: var(--elevation-high);
   background-color: var(--background-primary);
   box-shadow: var(--elevation-high);
}

.theme-dark .footer-3mqk7D, .theme-dark .message-2qRu38 {
   -webkit-box-shadow: var(--elevation-high);
   background-color: var(--background-secondary);
   box-shadow: var(--elevation-high);
}

.theme-dark .header-2-Imhb .tabBar-1kuXvJ .tab-ck0077.active-1MbGPa, .theme-dark .divider-1pnAR2, .theme-dark .divider-23swzi {
   background-color: var(--background-modifier-accent);
}

.toolbar-2bjZV7, .theme-dark .previewContainer-12UlHl, .tile-2naSqK, .theme-dark .applicationStreamingPreviewWrapper-8QqvVY {
   background-color: var(--background-floating);
}

.active-2HPddW, .hover-28QbSq:hover, .theme-dark .changeDetails-bk98pu, .theme-dark .headerClickable-2IVFo9, .theme-dark .headerDefault-1wrJcN, .theme-dark .inviteRow-2L02ae:hover, .theme-dark .memberListItem-2ZX2pl:not(.popoutDisabled-xucru2):hover {
   background-color: var(--background-modifier-hover);
}

.button-3HqqDX:hover, .cta-2DQ2ez:hover {
   background-color: var(--background-accent-alt);
}

.theme-dark .tierHeaderLocked-1s2JJz, .theme-dark .emptyHintCard-2mUdMe {
   background-color: var(--background-tertiary);
   color: var(--text-muted);
}

.lookFilled-1Gx00P.colorGrey-2DXtkV:disabled {
   background-color: var(--background-accent)!important;
}

.theme-dark .colorPickerCustom-2CWBn2 {
   background: var(--background-primary);
   border-color: var(--background-floating);
}