@import url("https://raw.githack.com/snappercord/Dark-Discord/master/src/source.css");

html.theme-dark .theme-light {
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #dcddde;
    --background-primary: #141414 !important;
    --background-secondary: #111111 !important;
    --background-secondary-alt: #292929 !important;
    --background-tertiary: black !important;
    --background-modifier-accent: rgb(15, 15, 15) !important;
    --background-modifier-hover: rgb(15, 15, 15) !important;
}
html.theme-dark .theme-light .root-1gCeng {
    background-color: #141414 !important;
    box-shadow: 0 0 0 1px var(--background-secondary), 0 2px 10px 0 rgba(0, 0, 0, .2) !important;
} 
html.theme-dark .theme-light .footer-2gL1pp {
    background-color: #0c0c0c !important;
    box-shadow: inset 0 1px 0 var(--background-tertiary) !important;
    color: var(--text-normal) !important;
}
.footerButton-ayFTfX.colorGrey-2DXtkV {
    background-color: #242424 !important;
}


@keyframes flash {
    100% {
        border-color: white;
        box-shadow: 0 1px 5px rgba(255, 255, 255, 0.452);
    }
    50% {
        border-color: #c21616;
        box-shadow: 0 2px 10px rgba(240, 71, 71, 0.452);
    }
    0% {
        border-color: white;
        box-shadow: 0 1px 5px rgba(255, 255, 255, 0.452);
    }
}

.theme-light .layer-3QrUeG:first-of-type::before {
    content: "This theme is intended to be used with Dark Mode. In order to enable it, head to User Settings -> Appearance Tab -> Under THEME, select Dark.";
    z-index: 2;
    background: var(--background-primary);
    color: #fff;
    position: fixed;
    display: block;
    padding: 20px;
    width: 500px;
    height: 35px;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(240, 71, 71, 0.452);
    border: 3px solid #c21616;
}
.theme-light [aria-label="User Settings"],
.theme-light .sidebar-CFHs9e > .side-8zPYf6 > .item-PXvHYJ:nth-child(20),
.theme-light #user-settings-cog-Appearance,
.theme-light #user-settings-cog-Appearance--theme {
    animation: flash 1s ease infinite;
    box-shadow: 0 1px 5px rgba(240, 71, 71, 0.452);
    border: 2px solid #c21616;
}
.theme-light .preview-2nSL_2 + .marginTop40-i-78cZ > .radioGroup-1GBvlr > .item-26Dhrx:nth-child(1) {
    color: #fff;
    animation: flash 1s ease infinite;
    box-shadow: 0 1px 5px rgba(240, 71, 71, 0.452);
}
.theme-light .preview-2nSL_2 + .marginTop40-i-78cZ > .radioGroup-1GBvlr > .item-26Dhrx:nth-child(1)::before {
    content: "";
    animation: flash 1s ease infinite;
    border: 2px solid #c21616;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

/* BD PLUGIN SUPPORT */
#MemberCount{
 background: transparent !important;
}
