#splash, body {
   background: #0c0c0c !important;
}

.progress .progress-bar, #bar-container {
   background-color: #292929 !important;
}

.progress .progress-bar .complete, #bar-fill {
   background-color: #fff !important;
}

#splash .splash-inner-dl .dl-select-frame .Select-control, #splash .splash-inner-dl .dl-select-frame .Select-menu-outer {
   background: #141414;
   border-color: #191919;
}
