@-moz-document domain("discord.com") {
   /* ==UserStyle==
    @name         Dark Discord
    @description  An actual dark mode for discord.
    @author       eternal
    @namespace    github.com/localip/dark-discord
    @version      1.0.0
    @supportURL   https://discord.gg/HQ5N7Rcajc
    ==/UserStyle== */
   @import url(https://discord-modifications.github.io/dark-discord/src/source.css);
}
